@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap");
.checkout__page__main {
  font-family: "Poppins", sans-serif;
  color: white;
  margin-bottom: 50px;
}

.checkout__page__child {
  width: 89%;
  display: block;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 500px) {
  .checkout__page__child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.checkout__page__bill {
  max-width: 35rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  background: #ffffff32;
}

@media (max-width: 500px) {
  .checkout__page__bill {
    max-width: 100rem;
    width: 100%;
  }
}

.checkout__page__bill h2 {
  border-bottom: 1px solid lightgray;
  padding: 1rem 0;
  padding-bottom: 1rem;
  width: 100%;
  text-align: start;
}

.checkout__page__ordered__items {
  padding: 1rem 0;
  height: 25vh;
  overflow-y: scroll;
}

.checkout__page__ordered__items::-webkit-scrollbar {
  width: 5px;
}

.checkout__page__ordered__items::-webkit-scrollbar-track {
  background-color: lightgray;
}

.checkout__page__ordered__items::-webkit-scrollbar-thumb {
  background-color: #555555;
}

.checkout__page__ordered__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkout__page__ordered__item .item__img {
  width: 10rem;
}

.checkout__page__ordered__item .item__img img {
  padding: .5rem;
  width: 100%;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.checkout__page__ordered__item .item__info {
  width: 100%;
}

.checkout__page__ordered__item .item__info h3 {
  font-size: 1.2rem;
  width: 100%;
}

.checkout__page__ordered__item .item__size__color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.checkout__page__ordered__item .item_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
}

.checkout__page__ordered__item .item_price span {
  color: lightgray;
  font-size: 1.3rem;
}

.checkout__page__ordered__item .item_price span:nth-child(1) {
  font-size: 1.5rem;
  color: white;
}

.total_bill_calculations {
  border-top: 1px solid lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-bottom: 1px solid lightgray;
  padding: 1rem 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.total_bill_calculations .total_bill_amount_titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  font-size: 1.2rem;
}

.total_bill_calculations .total_bill_amount_values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.total_bill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.total_bill h2:nth-child(2) {
  text-align: end;
}

.costomer__details__form {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.costomer__details__form .form_slots {
  height: 100%;
  background: #ffffff32;
  margin-bottom: 2rem;
  padding: 2rem;
}

.costomer__details__form h1 {
  font-size: 3.5rem;
}

@media (max-width: 756px) {
  .costomer__details__form {
    width: 100%;
  }
}

.costomer__details__form .common__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

@media (max-width: 756px) {
  .costomer__details__form .common__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.costomer__details__form .common__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 2rem;
  font-weight: 200;
}

.costomer__details__form .common__input label {
  font-size: 2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.costomer__details__form .common__input input, .costomer__details__form .common__input .input {
  font-size: 2rem;
  padding: 1rem;
  background: transparent;
  border: 1px solid lightgray;
  outline: none;
  color: white;
}

.costomer__details__form .common__input .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  padding-left: 5px;
}

.costomer__details__form .common__input .input input {
  border: none;
}

.costomer__details__form .costomer__expire {
  width: 20%;
}

@media (max-width: 756px) {
  .costomer__details__form .costomer__expire {
    width: 100%;
  }
}

.costomer__details__form .costomer__expire .date__mm__yyyy {
  height: 100%;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.costomer__details__form .costomer__expire .date__mm__yyyy .input {
  width: 100%;
  height: 100%;
}

.costomer__details__form .costomer__expire .date__mm__yyyy .input option {
  color: black;
}

.costomer__details__form .costomer__expire .date__mm__yyyy .input option:nth-child(0) {
  color: red;
}

.costomer__details__form .costomer__expire .date__mm__yyyy input {
  width: 100%;
}

.costomer__phone {
  width: 30%;
}

@media (max-width: 756px) {
  .costomer__phone {
    width: 100%;
  }
}

.costomer__card .costomer__card_number {
  width: 70%;
}

@media (max-width: 756px) {
  .costomer__card .costomer__card_number {
    width: 100%;
  }
}

.costomer__card .costomer__CVC {
  width: 15%;
}

@media (max-width: 756px) {
  .costomer__card .costomer__CVC {
    width: 100%;
  }
}

.costomer__name .common__input {
  width: 100%;
}

.costomer__name .costomer__phone {
  width: 80%;
}

@media (max-width: 756px) {
  .costomer__name .costomer__phone {
    width: 100%;
  }
}

.costomer__street_adress .costomer_adress_street {
  width: 100%;
}

.costomer__street_adress .costomer_adress_city {
  width: 25%;
}

@media (max-width: 756px) {
  .costomer__street_adress .costomer_adress_city {
    width: 100%;
  }
}

.costomer__country_adress .costomer_adress_country, .costomer__country_adress .costomer_adress_state {
  width: 100%;
}

.costomer__country_adress .costomer_adress_postal__code {
  width: 20%;
}

@media (max-width: 756px) {
  .costomer__country_adress .costomer_adress_postal__code {
    width: 100%;
  }
}

.costomer_adress_state select, .costomer_adress_country select {
  font-size: 2rem;
  padding: 1rem;
  background: transparent;
  border: 1px solid lightgray;
  outline: none;
  color: white;
}

.costomer_adress_state select button, .costomer_adress_country select button {
  background-color: black;
}

.costomer_adress_state select button:hover, .costomer_adress_country select button:hover {
  color: white;
}

.costomer_adress_state select option, .costomer_adress_country select option {
  color: black;
}

.costomer_adress_state select option:nth-child(1), .costomer_adress_country select option:nth-child(1) {
  color: red;
}

.order__confrim__news {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order__confrim__news h1 {
  font-size: 3rem;
}

.order__confrim__news h2 {
  font-size: 2rem;
}

.order__confrim__news_child {
  background-color: #ffffff32;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
}

.order__confrim__news_child .top_message {
  border-bottom: 1px solid gray;
  padding-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order__confrim__news_child .top_message h2 {
  font-weight: 200;
}

.order__confrim__news_child .top_message svg {
  color: green;
  background-color: white;
  border-radius: 50%;
  width: 4rem;
}

.order__confrim__news_child .order_info_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}

.order__confrim__news_child .order_info_row .name, .order__confrim__news_child .order_info_row .adress {
  text-align: end;
}

.order__confrim__news_child .order_info_row div {
  width: 50%;
}
/*# sourceMappingURL=checkout.css.map */