@import "imports";
.featured__products__main {
  font-family: $secondary_font;
  color: white;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}
.featured__products__child {
  @media (max-width: 756px) {
    align-items: flex-start;
  }
  width: 89%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 756px) {
    height: 1500px;
  }
 
  div{
    @media (max-width: 756px) {
      height: 100%;
    }
   
  }
}
// 1489
.featured__productsmain__heading {
  height: 100%;
  position: relative;
  @media (max-width: 756px) {
    height: 100%;
    width: 230px;
  }
  .featured__productsmain__heading__child {
    display: flex;
    align-items: center;
    @media (max-width: 756px) {
      position: absolute;
      height: 100vh;
    }
    img {
      width: 30rem;
   
      @media (max-width: 756px) {
        width: 50rem;
      }
      @media (max-width: 656px) {
        width: 45rem;
      }
      @media (max-width: 556px) {
        width: 30rem;
      }
    }
  }
}
.featured__products__card {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: $bg-cards;
  padding: 15px;
  max-width: 600px;
  @media (max-width: 756px) {
    max-width: 300px;
  
  }
  @media (max-width: 400px) {
    max-width: 200px;
  
  }
  
  margin-left: 10px;
  margin-bottom: 10px;
}
.featured__products__card__heading {
  font-size: 2rem;
  width: 100%;
  font-weight: 600;
  @media (max-width: 756px) {
    font-size: 2rem;
  
  }
  @media (max-width: 756px) {
    font-size: 2rem;
  
  }
  
}
.featured__products__card__info {
  display: flex;
  width: 100%;
  
  @media (max-width: 756px) {
    flex-direction: column;
  
  }
  p {
    font-size: 1.5rem;
    @media (max-width: 400px) {
      font-size: 1rem;
    
    }
  }
  .rating {
    font-size: 2rem;
    span{
      
      font-size: 2rem;
      font-weight: 300;
      margin-left:5px;
    }
  }
  span {
    font-size: 3rem;
    font-weight: 600;
  }
}
.featured__products__main__products {
  display: flex;
  flex-direction: column;
}
.featured__products__card__row {
  display: flex;
  @media (max-width: 756px) {
    flex-direction: column;
    justify-content: space-around;
  }
}
.featured__products__card__info__img {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-right: 15px;
  @media (max-width: 756px) {
    margin-right: 0;
  }

  img {
    width: 20rem;
    transition: .4s transform;
    @media (min-width: 756px) {
    &:hover{
      transform: scale(1.5) rotate(20deg);
    }
    
    }
    object-fit: contain;
    height: 100%;
    @media (max-width: 756px) {
      width: 25rem;
    }
   
  }
}
.featured__products__card__info__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  min-height: 30rem;

}

