@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap");
.featured__products__main {
  font-family: "Poppins", sans-serif;
  color: white;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.featured__products__child {
  width: 89%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 756px) {
  .featured__products__child {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 756px) {
  .featured__products__child {
    height: 400rem;
  }
}

@media (max-width: 456px) {
  .featured__products__child {
    height: 320rem;
  }
}

@media (max-width: 400px) {
  .featured__products__child {
    height: 340rem;
  }
}

.featured__productsmain__heading {
  height: 100%;
  position: relative;
}

@media (max-width: 756px) {
  .featured__productsmain__heading {
    height: 100%;
    width: 70rem;
  }
}

@media (max-width: 600px) {
  .featured__productsmain__heading {
    height: 100%;
    width: 30rem;
  }
}

.featured__productsmain__heading .featured__productsmain__heading__child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 756px) {
  .featured__productsmain__heading .featured__productsmain__heading__child {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100vh;
    padding-top: 5rem;
  }
}

@media (max-width: 556px) {
  .featured__productsmain__heading .featured__productsmain__heading__child {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
  }
}

.featured__productsmain__heading .featured__productsmain__heading__child img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 25rem;
}

@media (max-width: 756px) {
  .featured__productsmain__heading .featured__productsmain__heading__child img {
    height: 80vh;
    margin-bottom: 7rem;
    width: 100%;
  }
}

.featured__products__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background-color: #ffffff32;
  padding: 15px;
  width: 100%;
}

@media (max-width: 756px) {
  .featured__products__card {
    max-width: 600px;
    margin-left: 10px;
  }
}

.featured__products__card__heading {
  font-size: 2rem;
  width: 100%;
  font-weight: 600;
}

@media (max-width: 756px) {
  .featured__products__card__heading {
    font-size: 4rem;
  }
}

@media (max-width: 456px) {
  .featured__products__card__heading {
    font-size: 2.5rem;
  }
}

.featured__products__card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media (max-width: 756px) {
  .featured__products__card__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.featured__products__card__info p {
  font-size: 1.5rem;
}

@media (max-width: 756px) {
  .featured__products__card__info p {
    font-size: 2rem;
  }
}

@media (max-width: 400px) {
  .featured__products__card__info p {
    font-size: 2rem;
  }
}

.featured__products__card__info .rating {
  font-size: 2rem;
}

.featured__products__card__info .rating span {
  font-size: 2rem;
  font-weight: 300;
  margin-left: 5px;
}

.featured__products__card__info span {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.featured__products__main__products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 756px) {
  .featured__products__main__products {
    height: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.featured__products__card__row {
  display: -ms-grid;
  display: grid;
  margin-left: 10px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 10px;
}

@media (max-width: 756px) {
  .featured__products__card__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.featured__products__card__info__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin-right: 15px;
}

@media (max-width: 756px) {
  .featured__products__card__info__img {
    margin-right: 0;
  }
}

.featured__products__card__info__img img {
  width: 20rem;
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
}

@media (max-width: 756px) {
  .featured__products__card__info__img img {
    width: 50rem;
    padding: 1rem;
  }
}

@media (max-width: 456px) {
  .featured__products__card__info__img img {
    width: 35rem;
  }
}

.featured__products__card__info__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 30rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 756px) {
  .featured__products__card__info__text {
    min-height: -webkit-max-content;
    min-height: -moz-max-content;
    min-height: max-content;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 756px) {
  .featured__products__card__info__text {
    font-weight: 200;
  }
}

@media (max-width: 756px) {
  .featured__products__card__info__text .buy__now__button {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.featured__products__card__info__text .buy__now__button a:hover {
  color: white;
}

.featured__products__card__info__text .buy__now__button .primary-buttonhover {
  color: white;
}

@media (max-width: 756px) {
  .featured__products__card__info__text .buy__now__button .primary-button {
    font-size: 3rem;
    font-weight: 200;
  }
}
/*# sourceMappingURL=featuredproducts.css.map */