@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap");
.featured__products__main {
  font-family: "Poppins", sans-serif;
  color: white;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.featured__products__child {
  width: 89%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 756px) {
  .featured__products__child {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 756px) {
  .featured__products__child {
    height: 1500px;
  }
}

@media (max-width: 756px) {
  .featured__products__child div {
    height: 100%;
  }
}

.featured__productsmain__heading {
  height: 100%;
  position: relative;
}

@media (max-width: 756px) {
  .featured__productsmain__heading {
    height: 100%;
    width: 230px;
  }
}

.featured__productsmain__heading .featured__productsmain__heading__child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 756px) {
  .featured__productsmain__heading .featured__productsmain__heading__child {
    position: absolute;
    height: 100vh;
  }
}

.featured__productsmain__heading .featured__productsmain__heading__child img {
  width: 30rem;
}

@media (max-width: 756px) {
  .featured__productsmain__heading .featured__productsmain__heading__child img {
    width: 50rem;
  }
}

@media (max-width: 656px) {
  .featured__productsmain__heading .featured__productsmain__heading__child img {
    width: 45rem;
  }
}

@media (max-width: 556px) {
  .featured__productsmain__heading .featured__productsmain__heading__child img {
    width: 30rem;
  }
}

.featured__products__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background-color: #ffffff32;
  padding: 15px;
  max-width: 600px;
  margin-left: 10px;
  margin-bottom: 10px;
}

@media (max-width: 756px) {
  .featured__products__card {
    max-width: 300px;
  }
}

@media (max-width: 400px) {
  .featured__products__card {
    max-width: 200px;
  }
}

.featured__products__card__heading {
  font-size: 2rem;
  width: 100%;
  font-weight: 600;
}

@media (max-width: 756px) {
  .featured__products__card__heading {
    font-size: 2rem;
  }
}

@media (max-width: 756px) {
  .featured__products__card__heading {
    font-size: 2rem;
  }
}

.featured__products__card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media (max-width: 756px) {
  .featured__products__card__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.featured__products__card__info p {
  font-size: 1.5rem;
}

@media (max-width: 400px) {
  .featured__products__card__info p {
    font-size: 1rem;
  }
}

.featured__products__card__info .rating {
  font-size: 2rem;
}

.featured__products__card__info .rating span {
  font-size: 2rem;
  font-weight: 300;
  margin-left: 5px;
}

.featured__products__card__info span {
  font-size: 3rem;
  font-weight: 600;
}

.featured__products__main__products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.featured__products__card__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 756px) {
  .featured__products__card__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.featured__products__card__info__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin-right: 15px;
}

@media (max-width: 756px) {
  .featured__products__card__info__img {
    margin-right: 0;
  }
}

.featured__products__card__info__img img {
  width: 20rem;
  -webkit-transition: .4s transform;
  transition: .4s transform;
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
}

@media (min-width: 756px) {
  .featured__products__card__info__img img:hover {
    -webkit-transform: scale(1.5) rotate(20deg);
            transform: scale(1.5) rotate(20deg);
  }
}

@media (max-width: 756px) {
  .featured__products__card__info__img img {
    width: 25rem;
  }
}

.featured__products__card__info__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 30rem;
}
/*# sourceMappingURL=featuredproducts.css.map */