@import "imports";
@import "imports";
.header__main {
  width: 100%;
  font-family: $secondary_font;
  padding: 20px 0;
  display: flex;
  position: relative;
  z-index: 100000;
  justify-content: center;
  @media (min-width: 756px) {
    margin-bottom: 30px;
  }
}
.header_child_main {
  display: flex;
  align-items: center;
  width: 89%;
  @media (max-width: 756px) {
    width: 100%;
  }
}
.Link_nav_footer{
  border:2px solid yellow;
  font-family: $secondary_font;
  text-decoration: none;
  height: 100%;
  border: none;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  font-size: 2rem;
  .logo{
    position: relative;
  }
  .number_of_items{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top:-5px;
    right: -10px;
    background-color: black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }
  svg {
    color: white;
  }
}

.header__main__search {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin: 0 10px;
  border-radius: 5px;
  padding: 5px;
  // border-bottom: 1px solid white;
  background: $bg-cards;
  input {
    background: transparent;
    height: 100%;
    outline: none;
    border: none;
    font-size: 18px;
    color: white;
    padding: 5px;
    flex-grow: 1;
  }
  button {
    height: 100%;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    width: 35px;
    background: transparent;
    svg {
      color: white;
    }
  }
}
.header__main_User {
  display: flex;
  gap: 5px;
  margin: 0 10px;
  svg {
    color: white;
  }
  @media (max-width: 756px) {
    display: none;
  }
}
.header__main_User__text {
  font-size: 14px;
  line-height: 18px;
  color: white;
  display: flex;
  flex-direction: column;
  div {
    font-weight: 400;
    color: lightgray;
  }
  span {
    font-size: 18px;
    font-weight: 600;
  }
}
.header__main__buttons {
  // border: 2px solid green;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  color: white;
  margin: 0px 10px;
  gap: 10px;
  svg {
    color: white;
  }
  @media (max-width: 756px) {
    display: none;
  }
}

.header__main__logo {
  display: flex;
  align-items: center;
  margin-right: 10px;
  @media (max-width: 756px) {
    display: none;
  }
}
svg {
  color: red;
  width: 25px;

  font-weight: 900;
}

// Mobile Version
.header__buttons__mobile {
  display: none;
  background: rgb(136, 29, 29);

  @media (max-width: 756px) {
    display: flex;
  }
  position: fixed;
  bottom: 20px;
  border-radius: 20px;
  left: 20px;
  right: 20px;
  z-index: 10000;
  padding: 8px 20px;
  justify-content: space-around;
  button {
    background: transparent;
    border: none;
    svg {
      color: white;
      width: 18px;
    }
    span {
      color: white;
    }
  }
}
