@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap");
.header__main {
  width: 100%;
  font-family: "Poppins", sans-serif;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 100000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 756px) {
  .header__main {
    margin-bottom: 30px;
  }
}

.header_child_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 89%;
}

@media (max-width: 756px) {
  .header_child_main {
    width: 100%;
  }
}

.Link_nav_footer {
  border: 2px solid yellow;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  height: 100%;
  border: none;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  font-size: 2rem;
}

.Link_nav_footer .logo {
  position: relative;
}

.Link_nav_footer .number_of_items {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: -5px;
  right: -10px;
  background-color: black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.Link_nav_footer svg {
  color: white;
}

.header__main__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 10px;
  border-radius: 5px;
  padding: 5px;
  background: #ffffff32;
}

.header__main__search input {
  background: transparent;
  height: 100%;
  outline: none;
  border: none;
  font-size: 18px;
  color: white;
  padding: 5px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header__main__search button {
  height: 100%;
  border: none;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  background: transparent;
}

.header__main__search button svg {
  color: white;
}

.header__main_User {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  margin: 0 10px;
}

.header__main_User svg {
  color: white;
}

@media (max-width: 756px) {
  .header__main_User {
    display: none;
  }
}

.header__main_User__text {
  font-size: 14px;
  line-height: 18px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__main_User__text div {
  font-weight: 400;
  color: lightgray;
}

.header__main_User__text span {
  font-size: 18px;
  font-weight: 600;
}

.header__main__buttons__scroll {
  position: fixed;
  border-radius: 50%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-animation: cartAnimator .5s;
          animation: cartAnimator .5s;
  bottom: 3rem;
  right: 3rem;
  background-color: black;
  -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 30px 0px;
          box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 30px 0px;
  padding: 10px;
}

.header__main__buttons__scroll svg {
  width: 25px;
  color: white;
  -webkit-animation: cartAnimatorSvg .5s;
          animation: cartAnimatorSvg .5s;
}

.header__main__buttons {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 400;
  color: white;
  margin: 0px 10px;
}

.header__main__buttons svg {
  color: white;
}

@media (max-width: 756px) {
  .header__main__buttons {
    display: none;
  }
}

.header__main__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

@media (max-width: 756px) {
  .header__main__logo {
    display: none;
  }
}

svg {
  color: red;
  width: 25px;
  font-weight: 900;
}

.header__buttons__mobile {
  display: none;
  background: #881d1d;
  position: fixed;
  bottom: 20px;
  border-radius: 20px;
  left: 20px;
  right: 20px;
  z-index: 10000;
  padding: 8px 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 756px) {
  .header__buttons__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__buttons__mobile button {
  background: transparent;
  border: none;
}

.header__buttons__mobile button svg {
  color: white;
  width: 18px;
}

.header__buttons__mobile button span {
  color: white;
}

@-webkit-keyframes cartAnimator {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes cartAnimator {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes cartAnimatorSvg {
  0% {
    width: 25px;
  }
  100% {
    width: 25px;
  }
}

@keyframes cartAnimatorSvg {
  0% {
    width: 25px;
  }
  100% {
    width: 25px;
  }
}
/*# sourceMappingURL=header.css.map */