@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap");
.hot_deals__products__main {
  font-family: "Poppins", sans-serif;
  color: white;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.hot_deals__products__child {
  width: 89%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.hot_deals__productsmain__heading {
  height: 100%;
  position: relative;
}

.hot_deals__productsmain__heading .hot_deals__productsmain__heading__child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.hot_deals__productsmain__heading .hot_deals__productsmain__heading__child img {
  width: 30rem;
}

@media (max-width: 756px) {
  .hot_deals__productsmain__heading .hot_deals__productsmain__heading__child img {
    width: 30rem;
  }
}

@media (max-width: 656px) {
  .hot_deals__productsmain__heading .hot_deals__productsmain__heading__child img {
    width: 20rem;
  }
}

.hot_deals__products__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background-color: #ffffff32;
  padding: 30px;
  height: 100%;
  max-width: 600px;
  margin-left: 10px;
  margin-bottom: 10px;
}

@media (max-width: 756px) {
  .hot_deals__products__card {
    padding: 10px;
  }
}

@media (max-width: 456px) {
  .hot_deals__products__card {
    padding: 2px;
  }
}

.hot_deals__products__card__heading {
  font-size: 3rem;
  font-weight: 600;
}

@media (max-width: 756px) {
  .hot_deals__products__card__heading {
    font-size: 1.5rem;
  }
}

.hot_deals__products__card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 756px) {
  .hot_deals__products__card__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.hot_deals__products__card__info p {
  font-size: 1.5rem;
}

@media (max-width: 656px) {
  .hot_deals__products__card__info p {
    font-size: 1rem;
  }
}

@media (max-width: 456px) {
  .hot_deals__products__card__info p {
    font-size: .5rem;
  }
}

.hot_deals__products__card__info .rating {
  font-size: 2rem;
}

@media (max-width: 656px) {
  .hot_deals__products__card__info .rating {
    font-size: 1.5rem;
  }
}

@media (max-width: 456px) {
  .hot_deals__products__card__info .rating {
    font-size: 1rem;
  }
}

.hot_deals__products__card__info span {
  font-size: 3rem;
  font-weight: 600;
}

@media (max-width: 656px) {
  .hot_deals__products__card__info span {
    font-size: 2rem;
  }
}

@media (max-width: 456px) {
  .hot_deals__products__card__info span {
    font-size: 1.5rem;
  }
}

.hot_deals__products__main__products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.hot_deals__lock__parent {
  position: absolute;
  inset: 0;
  z-index: 1000;
  opacity: 0.9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../../public/imgs/hot_deal_lock.jpg");
  background-position: center;
  background-size: cover;
}

.hot__deals__lock__message {
  display: block;
  margin: auto;
}

.hot__deals__lock__message h2 {
  font-size: 7rem;
}

@media (max-width: 756px) {
  .hot__deals__lock__message h2 {
    font-size: 4rem;
  }
}

@media (max-width: 456px) {
  .hot__deals__lock__message h2 {
    font-size: 3rem;
  }
}

.hot__deals__lock__message button {
  display: block;
  margin: auto;
  font-size: 3.5rem;
}

@media (max-width: 656px) {
  .hot__deals__lock__message button {
    font-size: 2.5rem;
  }
}

@media (max-width: 456px) {
  .hot__deals__lock__message button {
    font-size: 2rem;
  }
}

.hot_deals__lock {
  height: 100%;
  width: 100%;
}

.hot_deals__products__card__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 756px) {
  .hot_deals__products__card__row:nth-child(3) {
    display: none;
  }
}

.hot_deals__products__card__info__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.hot_deals__products__card__info__img img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 20rem;
}

@media (max-width: 656px) {
  .hot_deals__products__card__info__img img {
    width: 15rem;
  }
}

.hot_deals__products__card__info__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1rem;
}

.hot_deals__products__card__info__text button {
  border: none;
  background-color: #ff0000;
  padding: 1rem 3rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

@media (max-width: 656px) {
  .hot_deals__products__card__info__text button {
    padding: 1rem 2.5rem;
    font-size: 1rem;
  }
}

.hot_deals__products__card__info__text button:hover {
  background-color: black;
}
/*# sourceMappingURL=hotdeals.css.map */