@import "imports";

// CSS RESET
html {
  overflow-x: hidden;

  font-size: 65.2%;
  @media (max-width: 1700px) {
    font-size: 60%;
  }
  @media (max-width: 1600px) {
    font-size: 55%;
  }

  @media (max-width: 1500px) {
    font-size: 50%;
  }
  @media (max-width: 1400px) {
    font-size: 45%;
  }
  @media (max-width: 1240px) {
    font-size: 40%;
  }
  @media (max-width: 1100px) {
    font-size: 35%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//Some generic stylings
.App {
  position: relative;
}
.App::before {
  content: "";
  @include main_bg;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.primary-button {
  border: none;
  background-color: $primary_red;
  font-family: $secondary_font;
  outline:none;
  padding: 1rem 3rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  transition: 0.2s ease-in-out;

  &:hover {
    background-color: black;
  }
  &:disabled,
  &[disabled]{
    color: #cccccc;
    background-color: #666666;
  }
}
a{
  color:white;
  &:hover{
    color:white;
  }
}