@import "imports";

// CSS RESET
html {
  font-size: 65.2%;
  @media (max-width: 1700px) {
    font-size: 60%;
  }
  @media (max-width: 1600px) {
    font-size: 55%;
  }

  @media (max-width: 1500px) {
    font-size: 50%;
  }
  @media (max-width: 1400px) {
    font-size: 45%;
  }
  @media (max-width: 1240px) {
    font-size: 40%;
  }
  @media (max-width: 1100px) {
    font-size: 35%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//Some generic stylings
.App {
  @include main_bg;
}
