@import 'imports';
.main_product{
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: $secondary_font;   
    svg {
      color: white;
    }
    h1{
        font-size: 4.5rem;
    }
    h3{
        font-size: 2.5rem;
    }
    h4{
        font-size: 1.3rem;
    }
    p{
        font-size: 1.5rem;
    }
}
.product_main_child{
    width: 89%;
    display:grid;
    // border:2px solid green;
    gap:2rem;
    grid-template-columns: 1fr 1fr;
    margin:auto;
    @media (max-width:756px){
        display:flex;
        flex-direction: column;
    }
}
.product_main_child_images_section_parent{
    // border:2px solid red;
    position:relative;
}
.product_main_child_images_section_child{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // border:2px solid yellow;
@media (max-width:756px){
    align-self: center;
   
}
   
}
.product_main_child_images_section_slider{
    display:flex;
    align-items: center;
  
    .arrow{
        svg{
            width: 15rem;
            color: gray;
           
        }
    }
    .main_product_image{
       
        display:flex;
        background-color: $bg-cards;
        align-items: center;
        justify-content: center;
        width:50rem;
        height: 50rem;
        @media (max-width:756px){
            width:60vw;
            height:60vw;
        }
      
        img{
            @media (max-width:756px){
                width:50vw;
                height:50vw;
            }
            width: 45rem;
            object-fit: contain;
        }
    }
}
.product_main_child_images_section_samples{
    display:flex;
    width: 45rem;
    margin:auto;
    justify-content: space-around;
    padding:5rem;
    .shoe_sample_image{
        &:nth-child(1){
            border:3px solid $primary_red;
        }
        background-color: $bg-cards;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10rem;
        width: 10rem;
        img{
            width: 7rem;
            object-fit: contain;
        }
    }
}
.product_main_child_Info_section{
    display:flex;
    flex-direction: column;
    gap:2rem;
    align-items: flex-start;
    button{
        font-size: 2rem;
    }
 
    margin-bottom:100px;
}



.product_size{
    display:flex;
    div{
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        width: 4rem;
        height: 4rem;
        background-color: white;
        color:black;
        border:1px solid gray;
        margin-right:1rem;
    }
}

.product_color{
    display:flex;
    div{
        display:flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 4rem;       
        border:1px solid gray;
        margin-right:1rem;
    }
}

.related_products_parent{
    display:flex;
    gap:10px;
    @media (max-width:756px){
        display:none;
    }
    @media (max-width:850px){
       h4{
        font-size: 1rem;
    }
    p{
           font-size: .8rem;
        
       }
    }

}
.related_product{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap:10px;
    background-color: $bg-cards;
}
.product_details{
    display: flex;
    gap:8px;
    @media (max-width:1000px){
        flex-direction: column;
    }
}
.product_info{
    button{
        font-size: 1rem;
        padding: .3rem .8rem;
    }
    p{
        font-size: 1rem;
    }
}
.related_product_img{
    img{
        object-fit: contain;
        width:10rem;
        @media (max-width:1000px){
            width:8vw;
        }
        @media (max-width:850px){
            width:6vw;
        }
    }
}
.product_ratings{
    font-size:2.5rem;
}
.costomer_ratings{
    display:flex;
    flex-direction:column;
    align-items: space-between;
   

    .stars{
        display:flex;
        justify-content: space-between;
        align-items: center;
        span{
            font-size: 2.5rem;
        }
        .stars_bar{
            width:30rem;
            height: 3rem;
            background: $bg-cards;
            margin-left: 1rem;
            .load_bar{
                height: 100%;
                width: 90%;
                background-color: red;
                transition: width .8s ease-in-out;
            }
        }
    }
}

