@import 'imports';
.main_product{
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: $secondary_font;   
    svg {
      color: white;
    }
    h1{
        font-size: 4.5rem;
    }
    h3{
        font-size: 2.5rem;
    }
    h4{
        font-size: 1.3rem;
    }
    p{
        font-size: 1.5rem;
    }
}
.product_main_child{
    width: 89%;
    display:grid;
    // border:2px solid green;
    gap:2rem;
    grid-template-columns: 1fr 1fr;
    margin:auto;
    @media (max-width:756px){
        display:flex;
        flex-direction: column;
    }
}
.product_main_child_images_section_parent{
    // border:2px solid red;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    position: relative;
}
.dummy_div{
    // border:2px solid blue;
    height: 100vh;
    position: absolute;
    width: 100%;
    bottom:0;
}
.product_main_child_images_section_child{    
    position:fixed;   
    width: 43.7%;
    height: 100vh;    
    display: flex;
    flex-direction: column;
    align-items: center;
    // border:2px solid yellow;
    justify-content: center;
    .product_main_child_images_section_child_image{
        // border:2px solid red;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
@media (max-width:756px){
    position:static;
    width: inherit;
    height: inherit;
}
   
}
.product_main_child_images_section_slider{
    display:flex;
    align-items: center;
  
    .arrow{
        background-color: transparent;
        border:none;
        svg{
            width: 15rem;
            color: gray;
           
        }
    }
    .main_product_image{
       
        display:flex;
        background-color: $bg-cards;
        align-items: center;
        justify-content: center;
        width:40rem;
        height: 40rem;
        @media (max-width:756px){
            width:50vw;
            height:50vw;
        }
      
        img{
            @media (max-width:756px){
                width:40vw;
                height:40vw;
            }
            width: 35rem;
            height: 35rem;
            object-fit: contain;
        }
    }
}
.product_main_child_images_section_samples{
    display:flex;
    width: 45rem;
    margin:auto;
    justify-content: space-around;
    padding:5rem;
    .shoe_sample_image{
      
        background-color: $bg-cards;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10rem;
        width: 10rem;
        img{
            width: 7rem;
            object-fit: contain;
        }
    }
}
.product_main_child_Info_section{
    display:flex;
    flex-direction: column;
    gap:2rem;
    align-items: flex-start;
    button{
        font-size: 2rem;
    }
 
    margin-bottom:100px;
}



.product_size{
    display:flex;
    flex-wrap: wrap;
    
    div{
        display:flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        width: 4rem;
        height: 4rem;
        background-color: white;
        color:black;
        border:1px solid gray;
        margin-right:1rem;
        margin-top:1rem;
    }
}

.product_color{
    display:flex;

    div{
        display:flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 4rem;       
        border:1px solid gray;
        margin-right:1rem;
    }
}

.related_products_parent{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:10px;
    @media (max-width:756px){
        display:none;
    }
    @media (max-width:850px){
       h4{
        font-size: 1rem;
    }
    p{
           font-size: .8rem;
        
       }
    }

}
.related_product{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap:10px;
    background-color: $bg-cards;
}
.product_details{
    display: flex;
    gap:8px;
    @media (max-width:1000px){
        flex-direction: column;
    }
}
.product_info{
    button{
        font-size: 1rem;
        padding: .3rem .8rem;
    }
    p{
        font-size: 1rem;
    }
}
.related_product_img{
    display:flex;
    justify-content: center;
    img{
        object-fit: contain;
        width:10rem;
        @media (max-width:1000px){
            width:8vw;
        }
        @media (max-width:850px){
            width:6vw;
        }
    }
}
.product_ratings{
    font-size:2.5rem;
}
.costomer_ratings{
    display:flex;
    flex-direction:column;
    align-items: space-between;
   

    .stars{
        display:flex;
        justify-content: space-between;
        align-items: center;
        span{
            font-size: 2.5rem;
        }
        .stars_bar{
            width:30rem;
            height: 3rem;
            background: $bg-cards;
            margin-left: 1rem;
            .load_bar{
                height: 100%;
                width: 90%;
                background-color: red;
                transition: width .8s ease-in-out;
            }
        }
    }
}

.product_average_price{
    h3:nth-child(2){
        font-weight: 500;
    }
    h3:nth-child(3){
        font-weight: 500;
    }
}